---
import FooterLink from './FooterLink.astro'
---

<footer class='w-full p-4' u-flex='none ~ row-reverse'>
  <FooterLink href='https://github.com/tannineo/solid-metronome'>
    <span class='i-mdi-github text-4xl mr-2'></span>GitHub Repo
  </FooterLink>
  <FooterLink href='https://github.com/tannineo'>About me</FooterLink>
</footer>
